h1 {
    border: 2px #eee solid;
    color: hsl(273, 59%, 41%);
    text-align: center;
    padding: 10px;
}

.alert-error {
  background-color: red;
  color: white;
}

.alert-warning {
  background-color: yellow;
  color: black;
}

.alert-info {
  background-color: green;
  color: black;
}

