{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Check HTTP URL {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Host</label>
        <input type="text" name="title"
               placeholder="Post title" class="form-control"
               value="{{ request.form['host'] }}"></input>
    </div>

    <div class="form-group">
        <label for="content">Port</label>
        <textarea name="content" placeholder="Post content"
                  class="form-control">{{ request.form['port'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
